{
  "plugins": [
    "wdio"
  ],
  "extends": [
    "plugin:wdio/recommened",
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  }
}